.profile-header {
    padding-top: 100px;
    margin-left: 100px;
    
}

.profile__username {
    font-size: xxx-large;
    font-weight: 800;
}

.profile__fullName {
    font-size: medium;
}

.profile__email {
    font-size: small;
}

.tabs {
    
    
}

.tablinks {
    display: flex;
    justify-content: center;
}



.tabcontent {
    margin-left: 100px;
}

.tab_title {
    color: rgb(40, 43, 46);
}